* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color01: #810dff;
  --color02: #19ff85;
  --color03: #0c2b3e;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.container {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

.button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #aaa;
}
